{% include base_path %}

{% if site.author.github or site.atom_feed.hide != true %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.atom_feed.hide != true %}
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> 订阅更新</a></li>
    {% endif %}
    <li><a href="{{ base_path }}/terms/"><i class="fas fa-fw fa-shield-halved" aria-hidden="true"></i> 隐私说明</a></li>
  </ul>
</div>
{% endif %}

<div class="page__footer-copyright">
  <span>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}</span>
  <span>最近更新 {{ "now" | date: '%Y-%m-%d' %}}</span>
</div>
